<!-- 描画させるページは基本的に編集しなくていいように書かれている -->
<!-- 参考：http://liruu.com/angularjs/angularjs-note/chap02.html -->

<!doctype html>
<!-- 1)ng-app属性 -->
<html class="no-js" lang="ja" ng-app="myApp">

<head>
  <!-- 2)インポート -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.1/angular.min.js"></script>
  <script src="controller.js"></script>
</head>

<body>
  <!-- 3)Angular構文 -->
  <div ng-controller="MyController">

    <h1>メッセージを表示</h1>
    <div>{{msg}}</div>

    <h1>fillterを使ってみる</h1>
    <p>今日は、{{today | date: 'yyyy/MM/dd'}}です。</p>
    <p>タイトル数は、{{ctmls.length}}です。</p>

    <h1>ng-repeatを使ってみる</h1>
    タイトル名、価格をテキストボックス入力すると、検索結果に反映<br />
    <input type="text" ng-model="query">
    <table>
      <tr>
        <td>タイトル名</td>
        <td>価格</td>
        <td>発売日</td>
      </tr>
      <tr ng-repeat="list in ctmls|filter:query">
        <td>{{list.title}}</td>
        <td>{{list.price | number}}円</td>
        <td>{{list.published | date: 'yyyy年MM月dd日'}}</td>
      </tr>
    </table>

  </div>
</body>

</html>
